

/*  zentriert in mitte sowie font-weight bzw. Schrift dick gemacht*/
p {
text-align:center;
margin: 0;
font-weight: 700;


}

/*  Schrift dick gemacht*/
ul {
font-weight: 700;


}

/*  Schrift dick gemacht*/
label {
font-weight: 700;
}

/*  Zentriert sowie farbe angepasst*/
table,
td,
th {
border: 1px solid green;
margin: 0 auto;
text-align: center;
}

/*  Farbe angepasst*/
table {
background-color: #8db243;
}

/*  zentriert und Schrift dick gemacht*/
h6 {
text-align: center;
font-weight: 700;
}

/*  zentriert sowie farbe angepasst*/
td {
	text-align:center;
	color: #ffffff;
}

/*  zentriert und dick gemacht*/
li {
text-align: center;
list-style: none;
font-weight: 700;
}

/*  zentriert */
form{
text-align: center
}




