<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Benötigte meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!--  CSS -->
   <link rel="stylesheet" href="static/my_style.css">


    <title>Snack'o Maker</title>


    <!--  Navbar Bootstrap-->

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a2cd5a;">
        <a class="navbar-brand" href="#">Snack'o Maker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="menu">deine Ernährung</a>
            </li>
             <li class="nav-item">
              <a class="nav-link" href="statistic">Statistic</a>
            </li>
              </div>
            </li>
          </ul>
        </div>
      </nav>

</head>
<body>

</br></br>


<h3 align="center"> Snack'o Maker - Responsible nutrition </h3>

</br>

<h5 align="center">Bitte gib untenstehend dein Snack/Menu inkl. Kalorien sowie den Preis ein.</h5>

 <!-- <a href="{{ link }}">Test</a>
<button id="button"> Klick mich!</button> -->

<!-- Abstand -->
</br></br>

<!-- Formular -->

    <form action="/form" method="POST">
        <label for="snack">Menu/Snack:</label>
        <input type="text" id="snack" name="snack"/>
        <br/><br/>
        <label for="klr">Kalorien:</label>
        <input type="text" id="klr" name="klr"/>
        <br/><br/>
        <label for="preis">Preis CHF:</label>
        <input type="text" id="preis" name="preis"/>
        <br/><br/>
        <label for="date">Datum:</label>
        <input type="text" id="date" name="date"/>
        <br/><br/>
        <button type="submit">Senden</button>
    </form>
</body>
</html>