<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Zusammenfassung/Statistics</title>

   <!-- Benötigte meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--  CSS -->
   <link rel="stylesheet" href="static/my_style.css">



        <!--  Navbar Bootstrap-->

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #a2cd5a;">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Snack'o Maker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="menu">deine Ernährung</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active" href="statistic">Statistic</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

</head>
<body>

   <!--   Bootstrap JavaScript bundle-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!--  Hier sollen die Berechnungen ausgegeben werden-->

    </br>

    <div class="stats">
    <ul>
        <li>Eingenommene Mahlzeiten: <p>Total {{ count }}</p> </li> <!--damit anzahl Menus angezeigt wird--></br>
        <li>Eingenommene Kalorien: <p> Total {{ kalorien }} Kalorien</p></li><!--damit Summe der Kalorien angezeigt wird--></br>
        <li>Total Ausgaben: <p> Total {{ ausgaben }} CHF Ausgaben</p></li><!--damit Summe der Ausgaben angezeigt wird--></br>

    </ul>
    </div>

    </br>

    <p>Untenstehendes Tabelle gibt aufschluss über den gesunden Kalorienbedarf eines Menschen.</p> <p> Logischerweise ist der Kalorienbedarf, je nach körperlichem Aufwand unterschiedlich,
    deshalb gelten diese Werte nur zur Orientierung.</p>

        </br>

    <!--  Erstellte Tabellen für Richtwerte an Kalorien-->
    <h6>Männer:</h6>
<table>
  <tr>
    <th>Alter</th>
    <th>kcal per d.</th>
    <th>kcal per w.</th>
    <th>kcal per m.</th>
  </tr>
  <tr>
    <td>19 - 25 Jahre</td>
    <td>2'400 - 3'100</td>
    <td>19'250</td>
    <td>82'500</td>
   </tr>
   <tr>
     <td>25 - 51 Jahre</td>
     <td>2'300 - 3'000</td>
     <td>18'550</td>
     <td>79'500</td>
   </tr>
   <tr>
     <td>51 - 61 Jahre</td>
     <td>2200 - 2'800</td>
     <td>17'500</td>
     <td>75'000</td>
   </tr>
   <tr>
     <td>65+ Jahre</td>
     <td>2'100 - 2'800</td>
     <td>17'150</td>
     <td>73'500</td>
   </tr>
</table>

    </br>

<h6>Frauen:</h6>
<table>
  <tr>
    <th>Alter</th>
    <th>kcal per d.</th>
    <th>kcal per w.</th>
    <th>kcal per m.</th>
  </tr>
  <tr>
    <td>19 - 25 Jahre</td>
    <td>1'900 - 2'500</td>
    <td>15'400</td>
    <td>66'000</td>
   </tr>
   <tr>
     <td>25 - 51 Jahre</td>
     <td>1'800 - 2'400</td>
     <td>14'700</td>
     <td>63'000</td>
   </tr>
   <tr>
     <td>51 - 61 Jahre</td>
     <td>1'700 - 2'200</td>
     <td>13'650</td>
     <td>58'500</td>
   </tr>
   <tr>
     <td>65+ Jahre</td>
     <td>1'700 - 2'100</td>
     <td>13'300</td>
     <td>57'000</td>
   </tr>
</table>

</body>
</html>